@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!-- Font Awesome CDN bağlantısı -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/styles.css">
    <style>
        .navbar {
            color: white !important; /* Beyaz renk */
            background-color: rgba( 33, 33, 33); /* Siyah arka plan */
            padding: 10px; /* İstenilen iç boşluk */
        }

    </style>

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-body">

        <a class="navbar-brand" href="/WatchUI/Index">
            <i class="fas fa-history"></i>

        </a>

        <a class="text-container" href="/WatchUI/Index">
            <span class="ml-2">Watcher</span>

        </a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>


    <div class="row">
        <!-- Sidebar -->
        <nav class="col-md-2 col-lg-2 d-none d-md-block bg-dark sidebar">
            <div class="sidebar-sticky">
                <br />
                <div class="my-5"></div>
                <ul class="nav flex-column bg-dark navbar">
                    <li class="nav-item">
                        <a class="nav-link icon-container" href="/WatchUI/Index">
                            <i class="fa fa-home fa-lg" style="margin-right: 5px; margin-left: 5px;"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <div class="my-2"></div>
                    <li class="nav-item">
                        <a class="nav-link icon-container" asp-controller="Login" asp-action="AddUsers">
                            <i class="fa fa-user-plus" style="margin-right: 5px; margin-right: 10px;"></i>
                            <span>Users</span>

                        </a>
                    </li>

                    <div class="my-2"></div>
                    <li class="nav-item">
                        <a class="nav-link icon-container" asp-controller="WatchUI" asp-action="AddVirtualMachine">
                            <i class="fa fa-plus-square" style="margin-right: 5px; margin-right: 10px;"></i>
                            <span>Virtual Machine</span>

                        </a>
                    </li>
                    <!-- Add more sidebar items as needed -->
                </ul>
            </div>
        </nav>

</body>
</html>
@RenderBody();
