
@{
    ViewData["Title"] = "AddVirtualMachine";
    Layout = "~/Views/Shared/_AddLayout.cshtml";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Virtual Machine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>


        .container {
            margin-top: 50px;
        }

        h2 {
            color: #004080;
        }

        form {
            max-width: 400px;
            margin: auto;
        }

        label {
            margin-top: 10px;
            display: block;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: #004080;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

            button:hover {
                background-color: #003366;
            }
    </style>
</head>
<body style="background-color: #ECEFF1;">


    <div class="container">
        <h2 class="text-center">Add Virtual Machine</h2>

        <form method="post" action="/WatchUI/AddVirtualMachine">
            <label for="userName">User Name:</label>
            <input type="text" id="userName" name="UserName" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" required>

            <label for="host">Host:</label>
            <input type="text" id="host" name="Host" required>

            <label for="port">Port:</label>
            <input type="text" id="port" name="Port" required>

            <label for="virtualName">Virtual Name:</label>
            <input type="text" id="virtualName" name="VirtualName" required>

            <button type="submit">Add</button>
        </form>

    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>




</body>
</html>

